.widget {
    text-align: center;
}

.widget p {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 48px;
}

.widget span {
    font-family: monospace;
}

.widget button {
    padding: 8px 12px;
    font-size: 20px;
    cursor: pointer;
}